body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1687px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:67px;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:55px;
  width:1479px;
  height:66px;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:1475px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1875_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:221px;
  height:25px;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:80px;
  width:216px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u1875_img.selected {
}
#u1875.selected {
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2px;
  width:204px;
  word-wrap:break-word;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:55px;
  width:2px;
  height:875px;
  overflow:hidden;
}
#u1877_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:875px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u1877_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:1128px;
}
#u1878 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:54px;
  width:206px;
  height:1127px;
}
#u1879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:556px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1880 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:1686px;
  height:56px;
  overflow:hidden;
}
#u1880_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1686px;
  height:56px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 0.898039215686275);
  background-image:none;
}
#u1880_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1880_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1686px;
  height:56px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u1880_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1880_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1686px;
  height:56px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u1880_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1880_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1686px;
  height:56px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u1880_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1880_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1686px;
  height:56px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u1880_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1880_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1686px;
  height:56px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u1880_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1880_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1686px;
  height:56px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u1880_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1880_state7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1686px;
  height:56px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u1880_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1881 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:52px;
  width:1567px;
  height:3px;
  overflow:hidden;
}
#u1881_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1567px;
  height:3px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u1881_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:53px;
}
#u1882 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:185px;
  height:52px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u1882_img.selected {
}
#u1882.selected {
}
#u1883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:185px;
  word-wrap:break-word;
}
#u1884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:34px;
}
#u1885 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:72px;
  width:183px;
  height:33px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u1886 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u1887 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:81px;
  width:16px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u1887_img.mouseOver {
}
#u1887.mouseOver {
}
#u1888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1889 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:119px;
  width:1481px;
  height:2px;
  overflow:hidden;
}
#u1889_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1481px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u1889_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:987px;
}
#u1890 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:55px;
  width:1px;
  height:986px;
}
#u1891 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:485px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:55px;
}
#u1893 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:0px;
  width:101px;
  height:54px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1893_img.mouseOver {
}
#u1893.mouseOver {
}
#u1893_img.selected {
}
#u1893.selected {
}
#u1894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u1895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:55px;
}
#u1895 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:0px;
  width:101px;
  height:54px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1895_img.mouseOver {
}
#u1895.mouseOver {
}
#u1895_img.selected {
}
#u1895.selected {
}
#u1896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u1897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:55px;
}
#u1897 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:0px;
  width:101px;
  height:54px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1897_img.mouseOver {
}
#u1897.mouseOver {
}
#u1897_img.selected {
}
#u1897.selected {
}
#u1898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u1899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:47px;
}
#u1900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:206px;
  height:46px;
  color:#353535;
  text-align:left;
}
#u1900_img.mouseOver {
}
#u1900.mouseOver {
}
#u1900_img.selected {
}
#u1900.selected {
}
#u1901 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:16px;
  width:158px;
  word-wrap:break-word;
}
#u1902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u1902 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:150px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1902_img.mouseOver {
}
#u1902.mouseOver {
}
#u1902_img.selected {
}
#u1902.selected {
}
#u1903 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:47px;
}
#u1905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:179px;
  width:206px;
  height:46px;
  color:#353535;
  text-align:left;
}
#u1905_img.selected {
}
#u1905.selected {
}
#u1906 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:16px;
  width:158px;
  word-wrap:break-word;
}
#u1907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u1907 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:200px;
  width:11px;
  height:9px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1908 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u1909 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:196px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1909_img.mouseOver {
}
#u1909.mouseOver {
}
#u1909_img.selected {
}
#u1909.selected {
}
#u1910 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:47px;
}
#u1911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:227px;
  width:206px;
  height:46px;
  color:#353535;
  text-align:left;
}
#u1911_img.mouseOver {
}
#u1911.mouseOver {
}
#u1911_img.selected {
}
#u1911.selected {
}
#u1912 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:16px;
  width:158px;
  word-wrap:break-word;
}
#u1913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:47px;
}
#u1913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:272px;
  width:206px;
  height:46px;
  color:#353535;
  text-align:left;
}
#u1913_img.mouseOver {
}
#u1913.mouseOver {
}
#u1913_img.selected {
}
#u1913.selected {
}
#u1914 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:16px;
  width:158px;
  word-wrap:break-word;
}
#u1915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:47px;
}
#u1916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:206px;
  height:46px;
  color:#353535;
  text-align:left;
}
#u1916_img.selected {
}
#u1916.selected {
}
#u1917 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:16px;
  width:158px;
  word-wrap:break-word;
}
#u1918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u1918 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:341px;
  width:11px;
  height:9px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1919 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u1920 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:337px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1920_img.mouseOver {
}
#u1920.mouseOver {
}
#u1920_img.selected {
}
#u1920.selected {
}
#u1921 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:47px;
}
#u1922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:368px;
  width:206px;
  height:46px;
  color:#353535;
  text-align:left;
}
#u1922_img.mouseOver {
}
#u1922.mouseOver {
}
#u1922_img.selected {
}
#u1922.selected {
}
#u1923 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:16px;
  width:158px;
  word-wrap:break-word;
}
#u1924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:47px;
}
#u1924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:413px;
  width:206px;
  height:46px;
  color:#353535;
  text-align:left;
}
#u1924_img.mouseOver {
}
#u1924.mouseOver {
}
#u1924_img.selected {
}
#u1924.selected {
}
#u1925 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:16px;
  width:158px;
  word-wrap:break-word;
}
#u1926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:47px;
}
#u1926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:459px;
  width:206px;
  height:46px;
  color:#353535;
  text-align:left;
}
#u1926_img.mouseOver {
}
#u1926.mouseOver {
}
#u1926_img.selected {
}
#u1926.selected {
}
#u1927 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:16px;
  width:158px;
  word-wrap:break-word;
}
#u1928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:55px;
}
#u1928 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:0px;
  width:101px;
  height:54px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1928_img.mouseOver {
}
#u1928.mouseOver {
}
#u1928_img.selected {
}
#u1928.selected {
}
#u1929 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u1930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u1930 {
  border-width:0px;
  position:absolute;
  left:1550px;
  top:19px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1482px;
  height:310px;
}
#u1933 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:120px;
  width:1481px;
  height:309px;
}
#u1934 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:146px;
  width:1477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:93px;
}
#u1935 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:158px;
  width:452px;
  height:92px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  word-wrap:break-word;
}
#u1937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:58px;
}
#u1937 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:320px;
  width:267px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1938 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:263px;
  word-wrap:break-word;
}
#u1939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u1939 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:237px;
  width:99px;
  height:26px;
  font-size:20px;
  color:#99CC33;
}
#u1940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u1941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u1941 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:177px;
  width:97px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u1942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u1943 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:230px;
  width:97px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u1944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u1945 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:283px;
  width:97px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u1946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u1947 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:341px;
  width:161px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u1948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u1949 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:177px;
  width:73px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u1950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u1951 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:341px;
  width:97px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u1952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1953 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:230px;
  width:199px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u1954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u1955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:30px;
}
#u1955 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:283px;
  width:241px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u1956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u1957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:23px;
}
#u1957 {
  border-width:0px;
  position:absolute;
  left:1581px;
  top:150px;
  width:75px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#FF6600;
}
#u1958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1481px;
  height:749px;
}
#u1960 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:430px;
  width:1480px;
  height:748px;
}
#u1961 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:366px;
  width:1476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:226px;
}
#u1963 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:455px;
  width:436px;
  height:225px;
}
#u1964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:2px;
}
#u1965 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:518px;
  width:436px;
  height:1px;
}
#u1966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u1967 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:480px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:23px;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:536px;
  width:132px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u1971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:578px;
  width:114px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u1973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:536px;
  width:114px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u1975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:23px;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:640px;
  width:291px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  white-space:nowrap;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:227px;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:727px;
  width:436px;
  height:226px;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:105px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:21px;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:779px;
  width:436px;
  height:20px;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:753px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:23px;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:810px;
  width:75px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:845px;
  width:132px;
  height:19px;
  font-size:16px;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u1988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:908px;
  width:141px;
  height:19px;
  font-size:16px;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:876px;
  width:132px;
  height:19px;
  font-size:16px;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u1992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:845px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FF6600;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:908px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#FF6600;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u1996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:876px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#FF6600;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:367px;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:455px;
  width:750px;
  height:366px;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:175px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:2px;
}
#u2000 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:518px;
  width:750px;
  height:1px;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:23px;
}
#u2002 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:480px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u2003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2004 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:554px;
  width:687px;
  height:48px;
}
#u2004_input {
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2005 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:628px;
  width:687px;
  height:132px;
}
#u2005_input {
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:132px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2006 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:568px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF6600;
}
#u2007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
}
#u2008 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:640px;
  width:47px;
  height:19px;
  font-size:16px;
  color:#FF6600;
}
#u2009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u2010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u2010 {
  border-width:0px;
  position:absolute;
  left:1455px;
  top:772px;
  width:147px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u2012_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:753px;
  height:241px;
}
#u2012 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:919px;
  width:750px;
  height:238px;
}
#u2013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:111px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:42px;
}
#u2014 {
  border-width:0px;
  position:absolute;
  left:1139px;
  top:1016px;
  width:217px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u2015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
