body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1519px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:54px;
}
#u4976 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:66px;
  width:1290px;
  height:53px;
}
#u4977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4978 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:66px;
  width:2px;
  height:706px;
  overflow:hidden;
}
#u4978_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:706px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u4978_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:910px;
}
#u4979 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:65px;
  width:180px;
  height:909px;
}
#u4980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:446px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4981 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:22px;
  width:1471px;
  height:45px;
  overflow:hidden;
}
#u4981_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 0.898039215686275);
  background-image:none;
}
#u4981_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4981_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:45px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u4981_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4981_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:45px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u4981_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4981_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:45px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u4981_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4981_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:45px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u4981_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4981_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:45px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u4981_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4981_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:45px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u4981_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4981_state7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:45px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u4981_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4982 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:64px;
  width:1367px;
  height:3px;
  overflow:hidden;
}
#u4982_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:3px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u4982_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:43px;
}
#u4983 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:22px;
  width:161px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u4983_img.selected {
}
#u4983.selected {
}
#u4984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u4985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:27px;
}
#u4986 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:80px;
  width:160px;
  height:26px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u4987 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6px;
  width:130px;
  word-wrap:break-word;
}
#u4988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u4988 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:87px;
  width:14px;
  height:12px;
  font-size:12px;
  color:#666666;
}
#u4988_img.mouseOver {
}
#u4988.mouseOver {
}
#u4989 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4990 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:118px;
  width:1292px;
  height:2px;
  overflow:hidden;
}
#u4990_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u4990_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:796px;
}
#u4991 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:66px;
  width:1px;
  height:795px;
}
#u4992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:390px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:44px;
}
#u4994 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:22px;
  width:88px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4994_img.mouseOver {
}
#u4994.mouseOver {
}
#u4994_img.selected {
}
#u4994.selected {
}
#u4995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u4996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:44px;
}
#u4996 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:22px;
  width:88px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4996_img.mouseOver {
}
#u4996.mouseOver {
}
#u4996_img.selected {
}
#u4996.selected {
}
#u4997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u4998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:44px;
}
#u4998 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:22px;
  width:88px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4998_img.mouseOver {
}
#u4998.mouseOver {
}
#u4998_img.selected {
}
#u4998.selected {
}
#u4999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u5000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:44px;
}
#u5000 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:22px;
  width:88px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5000_img.mouseOver {
}
#u5000.mouseOver {
}
#u5000_img.selected {
}
#u5000.selected {
}
#u5001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u5002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u5003 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:129px;
  width:180px;
  height:37px;
  color:#353535;
  text-align:left;
}
#u5003_img.mouseOver {
}
#u5003.mouseOver {
}
#u5003_img.selected {
}
#u5003.selected {
}
#u5004 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u5005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u5005 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:143px;
  width:9px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5005_img.mouseOver {
}
#u5005.mouseOver {
}
#u5005_img.selected {
}
#u5005.selected {
}
#u5006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u5008 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:203px;
  width:180px;
  height:37px;
  color:#353535;
  text-align:left;
}
#u5008_img.mouseOver {
}
#u5008.mouseOver {
}
#u5008_img.selected {
}
#u5008.selected {
}
#u5009 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u5010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u5010 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:220px;
  width:10px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u5012 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:217px;
  width:9px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5012_img.mouseOver {
}
#u5012.mouseOver {
}
#u5012_img.selected {
}
#u5012.selected {
}
#u5013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u5014 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:242px;
  width:180px;
  height:37px;
  color:#353535;
  text-align:left;
}
#u5014_img.mouseOver {
}
#u5014.mouseOver {
}
#u5014_img.selected {
}
#u5014.selected {
}
#u5015 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u5016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u5016 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:278px;
  width:180px;
  height:37px;
  color:#353535;
  text-align:left;
}
#u5016_img.mouseOver {
}
#u5016.mouseOver {
}
#u5016_img.selected {
}
#u5016.selected {
}
#u5017 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u5018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u5018 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:144px;
  width:10px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u5021 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:317px;
  width:180px;
  height:37px;
  color:#353535;
  text-align:left;
}
#u5021_img.mouseOver {
}
#u5021.mouseOver {
}
#u5021_img.selected {
}
#u5021.selected {
}
#u5022 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u5023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u5023 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:334px;
  width:10px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5024 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u5025 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:330px;
  width:9px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5025_img.mouseOver {
}
#u5025.mouseOver {
}
#u5025_img.selected {
}
#u5025.selected {
}
#u5026 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u5027 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:356px;
  width:180px;
  height:37px;
  color:#353535;
  text-align:left;
}
#u5027_img.mouseOver {
}
#u5027.mouseOver {
}
#u5027_img.selected {
}
#u5027.selected {
}
#u5028 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u5029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u5029 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:392px;
  width:180px;
  height:37px;
  color:#353535;
  text-align:left;
}
#u5029_img.mouseOver {
}
#u5029.mouseOver {
}
#u5029_img.selected {
}
#u5029.selected {
}
#u5030 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u5031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u5031 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:429px;
  width:180px;
  height:37px;
  color:#353535;
  text-align:left;
}
#u5031_img.mouseOver {
}
#u5031.mouseOver {
}
#u5031_img.selected {
}
#u5031.selected {
}
#u5032 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u5033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u5033 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:166px;
  width:180px;
  height:37px;
  color:#353535;
  text-align:left;
}
#u5033_img.mouseOver {
}
#u5033.mouseOver {
}
#u5033_img.selected {
}
#u5033.selected {
}
#u5034 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u5035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:44px;
}
#u5035 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:21px;
  width:88px;
  height:43px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0033CC;
}
#u5035_img.mouseOver {
}
#u5035.mouseOver {
}
#u5035_img.selected {
}
#u5035.selected {
}
#u5036 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u5037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:802px;
}
#u5037 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:144px;
  width:1259px;
  height:801px;
}
#u5038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:1255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u5039 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:157px;
  width:121px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u5040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u5041_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:193px;
  height:23px;
}
#u5041 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:81px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5041_img.selected {
}
#u5041.selected {
}
#u5042 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u5043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:384px;
}
#u5043 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:196px;
  width:1259px;
  height:383px;
}
#u5044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:184px;
  width:1255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:38px;
}
#u5045 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:883px;
  width:104px;
  height:37px;
  font-size:16px;
  color:#FFFFFF;
}
#u5046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:100px;
  word-wrap:break-word;
}
#u5047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:236px;
}
#u5049 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:626px;
  width:1259px;
  height:235px;
}
#u5050 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:110px;
  width:1255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:23px;
}
#u5051 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:637px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u5052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5053 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:691px;
  width:100px;
  height:18px;
  font-size:14px;
}
#u5054 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5053_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5055 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:735px;
  width:100px;
  height:18px;
  font-size:14px;
}
#u5056 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5055_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5057 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:787px;
  width:100px;
  height:18px;
  font-size:14px;
}
#u5058 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5057_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5059 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:691px;
  width:100px;
  height:18px;
  font-size:14px;
}
#u5060 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5059_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5061 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:735px;
  width:100px;
  height:18px;
  font-size:14px;
}
#u5062 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5061_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5063 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:787px;
  width:100px;
  height:18px;
  font-size:14px;
}
#u5064 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5063_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5065 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:691px;
  width:100px;
  height:18px;
  font-size:14px;
}
#u5066 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5065_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5067 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:735px;
  width:100px;
  height:18px;
  font-size:14px;
}
#u5068 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5067_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5069 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:787px;
  width:100px;
  height:18px;
  font-size:14px;
}
#u5070 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5069_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:2px;
}
#u5071 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:674px;
  width:1259px;
  height:1px;
}
#u5072 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1255px;
  visibility:hidden;
  word-wrap:break-word;
}
