body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1469px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:61px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:50px;
  width:1290px;
  height:60px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:50px;
  width:2px;
  height:801px;
  overflow:hidden;
}
#u1692_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:801px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u1692_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:1032px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:180px;
  height:1031px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:508px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  overflow:hidden;
}
#u1695_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 0.898039215686275);
  background-image:none;
}
#u1695_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1695_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u1695_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1695_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u1695_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1695_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u1695_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1695_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u1695_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1695_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u1695_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1695_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u1695_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1695_state7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u1695_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:1367px;
  height:3px;
  overflow:hidden;
}
#u1696_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:3px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u1696_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:49px;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:0px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u1697_img.selected {
}
#u1697.selected {
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:66px;
  width:160px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u1702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:74px;
  width:14px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1702_img.mouseOver {
}
#u1702.mouseOver {
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:109px;
  width:1292px;
  height:2px;
  overflow:hidden;
}
#u1704_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u1704_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:903px;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:50px;
  width:1px;
  height:902px;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:443px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1708_img.mouseOver {
}
#u1708.mouseOver {
}
#u1708_img.selected {
}
#u1708.selected {
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1710_img.mouseOver {
}
#u1710.mouseOver {
}
#u1710_img.selected {
}
#u1710.selected {
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1712_img.mouseOver {
}
#u1712.mouseOver {
}
#u1712_img.selected {
}
#u1712.selected {
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:122px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1715_img.mouseOver {
}
#u1715.mouseOver {
}
#u1715_img.selected {
}
#u1715.selected {
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:137px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1717_img.mouseOver {
}
#u1717.mouseOver {
}
#u1717_img.selected {
}
#u1717.selected {
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:206px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1720_img.mouseOver {
}
#u1720.mouseOver {
}
#u1720_img.selected {
}
#u1720.selected {
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:225px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:221px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1724_img.mouseOver {
}
#u1724.mouseOver {
}
#u1724_img.selected {
}
#u1724.selected {
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1726_img.mouseOver {
}
#u1726.mouseOver {
}
#u1726_img.selected {
}
#u1726.selected {
}
#u1727 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:291px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1728_img.mouseOver {
}
#u1728.mouseOver {
}
#u1728_img.selected {
}
#u1728.selected {
}
#u1729 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u1730 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:139px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1731 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:335px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1733_img.mouseOver {
}
#u1733.mouseOver {
}
#u1733_img.selected {
}
#u1733.selected {
}
#u1734 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u1735 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:354px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1736 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1737 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:350px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1737_img.mouseOver {
}
#u1737.mouseOver {
}
#u1737_img.selected {
}
#u1737.selected {
}
#u1738 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:379px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1739_img.mouseOver {
}
#u1739.mouseOver {
}
#u1739_img.selected {
}
#u1739.selected {
}
#u1740 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1741_img.mouseOver {
}
#u1741.mouseOver {
}
#u1741_img.selected {
}
#u1741.selected {
}
#u1742 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:462px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1743_img.mouseOver {
}
#u1743.mouseOver {
}
#u1743_img.selected {
}
#u1743.selected {
}
#u1744 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1745_img.mouseOver {
}
#u1745.mouseOver {
}
#u1745_img.selected {
}
#u1745.selected {
}
#u1746 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1747 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:-1px;
  width:88px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0033CC;
}
#u1747_img.mouseOver {
}
#u1747.mouseOver {
}
#u1747_img.selected {
}
#u1747.selected {
}
#u1748 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u1749 {
  border-width:0px;
  position:absolute;
  left:1351px;
  top:17px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1751_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:193px;
  height:23px;
}
#u1751 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:70px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u1751_img.selected {
}
#u1751.selected {
}
#u1752 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u1753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:944px;
}
#u1753 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:137px;
  width:1260px;
  height:943px;
}
#u1754 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:464px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u1755 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:148px;
  width:97px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:49px;
}
#u1757 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:187px;
  width:1191px;
  height:48px;
}
#u1758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:1187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u1759 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:202px;
  width:30px;
  height:18px;
  color:#999999;
}
#u1760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u1761 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:251px;
  width:148px;
  height:32px;
  color:#FFFFFF;
}
#u1762 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u1763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u1763 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:251px;
  width:148px;
  height:32px;
  color:#FFFFFF;
}
#u1764 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u1765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u1765 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:251px;
  width:148px;
  height:32px;
  color:#FFFFFF;
}
#u1766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u1767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:655px;
}
#u1767 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:320px;
  width:1191px;
  height:654px;
}
#u1768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:319px;
  width:1187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
}
#u1769 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:335px;
  width:83px;
  height:18px;
  color:#999999;
}
#u1770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
}
#u1771 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:1011px;
  width:114px;
  height:32px;
  color:#FFFFFF;
}
#u1772 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u1773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
}
#u1773 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:1011px;
  width:114px;
  height:32px;
  color:#FFFFFF;
}
#u1774 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
